.btn-generic {
    min-width: 105px;
    min-height: 28px;
    padding: 7px 4px 7px 2px;
    border-radius: 5px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
    border-color: #fff;
    background-color: #FFF;
    border-style: none;

    &:hover {
        background-color: #346799;
        border-color: #346799;
        & span {
            color: #fff !important;
        }        
    }

    & span {
        font-size: 0.625;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.44px;
        text-align: center;
        color: #346799;
    }

    &.btn-confirm-active {
        & span {
            font-size: 10px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.44px;
            text-align: center;
            color: #346799;
        }
    }

    &.btn-confirm-inactive {
        opacity: 0.5;
        font-size: 10px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.44px;
        text-align: center;
        color: #346799;
    }
}

.btn-transparent {
    min-height: 28px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
    min-width: fit-content;
    background: transparent;
    border: none;
    padding: 0px;
    box-shadow: none;
}

.btn-rounded {
    border-color: #fff;
    background-color: #FFF;
    border-style: none;
    width: 30px;
    height: 30px;
    min-width: auto;
    min-height: auto;
    padding: 0;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.26);
    border-radius: 50%;
}