/**
 * Global styles
 */
 body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.4px;
    font-size: 10px;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

.progress {
    background-color: rgba(142, 235, 243, 0.5) !important;
}

.primary-gpo {
    background: #8cd3aa;
}

.secondary-gpo {
    color: #346799;
}

.white {
    color: #fff;
}

hr {
    margin: 0;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    color: #ffa16c;
}

h4 {
    font-size: 10px;
    color: #979797;
}

h5 {
    font-weight: 600;
    font-size: 16px;
    color: #ffa16c;
}

h6 {
    font-size: 9px;
    color: #979797;
}

.mrg-left {
    margin-left: 15px;
}

/*
 * Graphics Definitions
 */
.card-body {
    padding: 10px 15px;
}

.card-title {
    margin-bottom: 7px;
}

.week-compare-gpo {
    color: #8cd3aa;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 5px;
}

/**
 * PeriodHeader Definitions
 */
.navbar-gpo {
    background-image: linear-gradient(188deg, #8eebf3, #38a9d3);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.12);
}

.navbar-merchant-name {
    width: 85px;
    margin-right: 8px;
    padding-top: 6px;
    font-weight: 600;
    text-align: right;
    line-height: 1.1;
    letter-spacing: 0.4px;
}

.navbar-merchant-login {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 0.3px;
    line-height: 1.49;
}

.navbar-brand-gpo {
    margin-top: 7px;
}

.navbar-nav > .nav-item > a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-nav > .nav-item > .active {
    font-weight: bold;
}

.nav-item {
    font-weight: 600;
    margin-right: 28px;
}

.nav-item-new-oval {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 10px 1px rgba(52, 103, 153, 0.5);
    background-color: #ffa16c;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}

.nav-item-new-oval:hover {
    box-shadow: 0 0 10px 1px rgb(255, 255, 255);
}

.navbar-merchant-oval {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
}

.sign-out-gpo {
    margin-left: 10px;
    font-size: 20px;
    color: white;
    padding-right: 20px;
}

.form-inline > a:hover {
    color: white;
    text-decoration: none;
}

.search-gpo-wrapper {
    float: right;
    margin-right: -10px;
}

.search-gpo-container {
    width: 177px;
    height: 24px;
    border-right: 1px solid white;
    margin: 10px;
    position: relative;
}

.search-gpo-icon {
    display: inline-block;
    position: absolute;
    padding-top: 8px;
    padding-bottom: 6px;
    right: 0;
    transform: translateX(-12px);
    transition: right 1.5s, transform 1s;
    cursor: pointer;
}

.search-gpo-icon-clicked {
    right: 0;
    transform: translateX(-181px);
    color: #346799;
}

.search-gpo-input {
    width: 165px;
    height: 24px;
    background: transparent;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none;
    visibility: hidden;
    border-radius: 0 !important;
    color: #346799;
}

::-webkit-input-placeholder {
    color: #346799;
    transition: opacity 2s;
}

::-moz-placeholder {
    color: #346799;
    transition: opacity 2s;
}

:-ms-input-placeholder {
    color: #346799;
    transition: opacity 2s;
}

.faded::-webkit-input-placeholder {
    opacity: 0;
}

.faded::-moz-placeholder {
    opacity: 0;
}

.faded:-ms-input-placeholder {
    opacity: 0;
}

.search-gpo-input:focus {
    outline: none;
    color: #346799;
}

/**
 * Dashboard definitions
 */

.gpo-font {
    font-family: gpo;
}

.gpo-large-card {
    height: 165px;
    border-radius: 5px;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}

.gpo-small-card {
    height: 165px;
    border-radius: 5px;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.06);
    width: 184px;
}

/**
 * Navigation Definitions
 */

.nav .nav-item {
    margin-right: 32px;
}

.nav .nav-item a {
    color: #38a9d3;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.42;
    letter-spacing: 0.3px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
}

.nav .nav-item .active {
    font-weight: bold;
    border-bottom: solid;
}

/**
 * Table PeriodHeader Definitions
 */
.selected-row {
    font-weight: bold;
    background-color: #f0f0f0;
}

table thead tr, .header-row {
    background-color: #38a9d3;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.35);
}

.header-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 3px;
    margin-bottom: 5px;
}

.table-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mr-10 {
    margin-right: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.header-margin {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 5px !important;
}

table thead th, .header-cell {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 0 !important;
    padding: 8px 15px !important;
}

table thead tr th:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

table thead tr th:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

table thead tr th:first-child i {
    margin-left: 5px;
}

table tbody td, table tbody th, .table-cell {
    border: 0 !important;
    vertical-align: middle !important;
    padding: 15px !important;
}

tr td:last-child {
    font-weight: bold;
}

table tbody tr:hover, .table-row:hover {
    background-color: #f1f0f0;
}

table tbody, table thead th:first-child, .table-row {
    font-size: 12px;
}

.i-medium {
    font-size: medium;
}

.i-small {
    font-size: small;
}

.i-large {
    font-size: large;
}

.row-gpo {
    cursor: pointer;
}

.row-gpo a {
    visibility: hidden;
}

.row-gpo:hover a {
    visibility: visible;
}

.wrapper {
    width: 25%;
    background-color: #f1f0f0 !important;
    border-radius: 60px;
}

.bar {
    width: 25%;
    height: 5px;
    border-radius: 60px;
}

.bar {
    animation: loadingJ 1.5s linear infinite;
}

@keyframes loadingJ {
    0% {
        transform: translate(0, 0);
        width: 25%;
        background: #ffa16c;
    }

    50% {
        transform: translate(300%, 0);
        width: 25%;
        background: #ffa16c;
    }

    100% {
        transform: translate(0, 0);
        width: 25%;
        background: #ffa16c;
    }
}

.filter-elem {
    border-radius: 11px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    background-color: #346799;
    height: 20px;
    font-size: 10px;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    min-width: 50px;
}

.row-filter {
    height: 20px;
}

.filter-elem .filter-name, .filter-elem .filter-close {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.filter-name:hover {
    cursor: default;
}

.filter-close {
    font-size: 8px;
}

.filter-close:hover {
    cursor: pointer;
}

/**
 * Right side panel definitions
 */
.modal-dialog {
    position: fixed;
    right: 0;
    top: 65px;
    margin: 0;
    width: 674px;
    max-width: 674px;
    height: 100%;
}

.modal-content {
    height: auto;
    min-height: 100%;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.13);
    border: none;
    border-radius: 0;
}

.modal-backdrop {
    background-color: transparent;
}

.modal-header {
    width: 565px;
    margin-left: 55px;
    margin-top: 30px;
    padding: 0;
    border-bottom: none;
}

.modal-title {
    font-size: 24px !important;
    font-weight: 700 !important;
    padding: 20px 0 0 0;
    color: #565656;
}

.modal-border {
    margin-left: 8%;
    border-radius: 4px;
    border: 4px solid #346799;
    width: 85%;
}

.close {
    padding: 2rem;
    color: #346799;
    font-size: 18px;
}

fieldset {
    border: 0;
    border-top: 2px solid #97979766;
    padding-top: 15px;
}

legend {
    color: #979797;
    width: auto;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2px;
    letter-spacing: 0.5px;
}

.modal-body {
    width: 632px;
    padding: 0 50px;
}

.form-check {
    color: #979797;
    font-size: 14px;
    padding-top: 10px;
}

.gpo-btn-secondary {
    font-size: 12px;
    font-variant: all-small-caps;
    letter-spacing: 0.4px;
    color: #346799;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.gpo-btn-primary {
    font-size: 12px;
    font-variant: all-small-caps;
    font-weight: 800;
    letter-spacing: 0.44px;
    color: #346799;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.gpo-btn-primary:active, .gpo-btn-secondary:active {
    background-color: #346799;
    color: white;
}

.gpo-btn-primary:disabled:active, .gpo-btn-secondary:disabled:active {
    background-color: #e58282;
    color: white;
}

.gpo-btn-primary:hover, .gpo-btn-secondary:hover {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.order-hide {
    visibility: hidden;
}

.order-show {
    color: #346799 !important;
    visibility: visible;
}

.order-cell {
    font-family: 'gpo';
    color: white;
    text-decoration: none;
}

.filter-cell {
    font-family: 'gpo';
    color: white;
    text-decoration: none;
}

.filter-cell:hover {
    color: #346799;
}

/**
 * Credit Card style
 */
.credit-card {
    width: 350px;
    height: 195px;
    border-radius: 18px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.12);
    background-color: #f1f0f0;
    margin-top: 15px;
    margin-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.credit-card.loading > .credit-card-header, .credit-card.loading > .credit-card-header > .credit-card-brand {
    background-color: transparent;
}

.credit-card.loading > .credit-card-header > h5 {
    color: #919191;
}

.credit-card-feedback {
    color: #c95959;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.credit-card-header {
    width: 350px;
    height: 62px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background: #919191;
    padding-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.credit-card-header > h5 {
    font-size: 16px;
    color: #cccccc;
    margin-left: 10px;
    font-weight: 400;
}

.credit-card-header.valid {
    background-color: #346799;
}

.credit-card-header.error {
    background-color: #c95959;
}

.credit-card-header.success {
    background-color: #91c176;
}

.credit-card-header.valid > h5, .credit-card-header.error > h5, .credit-card-header.success > h5 {
    color: white;
}

.credit-card-header.valid > .credit-card-brand {
    background-color: white;
}

.credit-card-header.error > .credit-card-brand {
    background-color: #c95959;
}

.credit-card-header.success > .credit-card-brand {
    background-color: #91c176;
}

.credit-card-header.error > .credit-card-brand > #brand, .credit-card-header.success > .credit-card-brand > #brand {
    color: white;
    font-size: 25px;
}

.credit-card-brand {
    width: 41px;
    height: 28px;
    border-radius: 6px;
    background-color: #cccccc;
    margin-right: 10px;
    text-align: center;
}

.ic-visa {
    line-height: 27px;
    font-size: 12px;
}

.ic-mastercard {
    line-height: 28px;
    font-size: 20px;
}

.credit-card-data {
    padding-left: 15px;
    padding-right: 15px;
}

.credit-card-data.feedback {
    display: table-cell;
    height: 133px;
    vertical-align: middle;
    color: #4a4a4a;
    font-size: 14px;
}

.credit-card-data > div.form-group {
    margin-bottom: 8px;
    margin-top: 8px;
}

.credit-card-label {
    font-size: 12px;
    color: #979797;
    margin-bottom: 3px;
}

.credit-card-control {
    border-radius: 6px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    font-size: 14px;
    color: #d4d1d1;
    height: 32px;
}

#terminal:valid {
    opacity: 1;
    font-style: normal;
}

#pan:valid, #cvv:valid, #month:valid, #year:valid {
    opacity: 1;
    color: #919191;
}

/* .dropdown-item.active, .dropdown-item:active {
    background-color: #346799;
}

.bootstrap-select, .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle {
    height: 32px;
} */

.filter-option {
    font-size: 14px;
}

.filter-option-inner-inner {
    text-align: right;
}

.btn-light {
    color: #919191;
    background-color: #ffffff;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.07);
}

/**
 * Form components
 */
.gpo-form-control {
    color: #346799;
    border-radius: 0;
    border: none;
    border-bottom: solid thin #346799;
    opacity: 0.3;
    max-width: 262px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 0;
}

.gpo-form-control:focus,
.uneditable-input:focus {
    border-bottom: solid thin #346799;
    box-shadow: none;
    opacity: 1;
    font-style: normal;
}

.form-group {
    margin-bottom: 10px;
}

.form-group > label {
    position: relative;
    margin-bottom: 0;
    display: block;
}

.form-check.checked {
    font-weight: 600;
    color: #346799;
}

#amount:valid {
    opacity: 1;
    font-style: normal;
}

#reference:valid {
    opacity: 1;
    font-style: normal;
}

.gpo-clipboard {
    color: #346799;
    font-size: 16px;
    cursor: pointer;
}

.new-request-next, .new-request-previous {
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.12);
    border-radius: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #979797;
}

.new-request-previous {
    margin-left: 20px;
    margin-right: 40px;
}

.new-request-next {
    margin-left: 40px;
    margin-right: 20px;
}

.new-request-next.active, .new-request-previous.active {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.26) !important;
    color: #346799;
    cursor: pointer;
}

.new-request-step {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #d8d8d8;
    margin-left: 5px;
    margin-right: 5px;
}

.new-request-step.active {
    background-color: #346799;
}

.new-request-step-name {
    color: #346799;
    font-size: 12px;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 50px;
}

.new-request-summary > div > span {
    color: #979797;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 10px;
}

.new-request-summary > div > i {
    line-height: 1.5;
}

.new-request-summary {
    color: #346799;
    font-size: 14px;
}

/**
 * Alerts (push notification)
 */

.alert-success {
    background-color: #8cd3aa;
    border-color: #8cd3aa;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}

.alert-danger {
    background-color: #e58282;
    border-color: #e58282;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}

/***
colors
 ***/
.green {
    color: #8cd3aa;
}

.grey {
    color: #979797;
}

.dark-grey {
    color: #565656;
}

.light-blue {
    color: #5ad1ec;
}

.blue {
    color: #42abc2;
}

.red {
    color: #e58282;
}

.dark-blue {
    color: #346799;
}

/***
Font sizes
 ***/
.larger-font {
    font-size: 24px;
}

.large-font {
    font-size: 21px;
}

.normal-font {
    font-size: 15px;
}

.small-font {
    font-size: 12px;
}

.smaller-font {
    font-size: 10px;
}

/***
components
 ***/

.supervisor-card-error-input {
    color: red!important;
    font-weight: bold
}

.merchant-image {
    cursor: pointer;
}

.header-bar {
    width: 100%;
    height: 7px;
    border-radius: 4px;
    background-color: #346799;
}

.btn-layout-big {
    width: 205px;
    height: 28px;
    font-size: 10px;
    line-height: 28px;
    font-weight: 800;
    color: #346799;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-layout-big:hover, .btn-layout-big.focus {
    color: #ffffff;
    background-color: #346799;
}

/***
Reference-detail
 ***/
.detail-modal .opensans-extra-bold {
    font-family: 'Open Sans', serif;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.detail-modal .col, .detail-modal .row, .detail-modal .col-auto {
    padding: 0;
    margin: 0;
}

.detail-modal .no-margin-bottom {
    margin-bottom: 0;
}

.detail-modal .margin-bottom {
    margin-bottom: 20px;
}

.detail-modal .grey-line {
    width: 100%;
    height: 2px;
    background-color: #979797;
    margin-top: 4px;
    margin-bottom: 4px;
}

.detail-modal .card {
    border-radius: 6px;
    margin: 6px;
}

.detail-modal .gpo-shadow {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12) !important;
}

.btn-layout {
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.06);
    background: white;
    font-size: 10px;
    font-variant: all-small-caps;
    color: #346799;
    font-family: 'Open Sans', serif;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    height: 28px;
    width: 105px;
    border-radius: 5px;
    border: 0 none;

    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-layout.focus, .btn-layout:active {
    background-color: #346799;
    color: white;
    outline: none;
}

.loading {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: wave;
    -webkit-animation-timing-function: linear;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: wave;
    -moz-animation-timing-function: linear;
    background: #f1f0f0 -webkit-linear-gradient(left, #f1f0f0 0%, #fff 25%, #fff 75%, #f1f0f0 100%) no-repeat;
    position: relative;
}

@-webkit-keyframes wave {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@-moz-keyframes wave {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.number-spinner {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.spin-text {
    color: #d4d1d1;
    border: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 10px;
    padding-right: 7px;
}

.spin-text:focus {
    color: #979797;
}

.spin-down, .spin-up {
    width: 20px;
    padding: 0;
    border: 0;
    background-color: #d4d1d1;
    color: white;
}

.spin-down:focus, .spin-up:focus {
    outline: none;
}

.spin-up {
    border-top-right-radius: 5px;
}

.spin-down {
    border-bottom-right-radius: 5px;
}

/**
POPOVER CONFIRMATION
 */
.popover.confirmation {
    background-color: #346799;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.15);
    min-width: 274px;
}

.popover.confirmation .confirmation-title {
    font-size: 16px;
    letter-spacing: normal;
    color: #f1f0f0;
    text-align: center;
    margin-bottom: 24px;
}

.popover.confirmation .confirmation-text {
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
    color: #fff;
}

.popover-btn-confirm {
    width: 105px;
    height: 28px;
    border-radius: 5px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-variant: all-small-caps;
    letter-spacing: 0.4px;
    text-align: center;
    color: #346799;
}

.popover-btn-confirm:active {
    background-color: #346799;
    color: white;
}

.popover-btn-confirm.submit {
    font-weight: 800;
}

.highlighted {
    font-weight: 900;
}

.highlighted.normal {
    font-weight: normal;
    transition: 1s;
}

/*
 * filter
*/

.reference-filter-popover {
    top: -1px !important;
}

.filter-popover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #346799;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.filter-popover * {
    color: white;
}

.filter-popover .filter-highlight:hover {
    color: white;
}

.gpo-filter.selected {
    color: #346799;
}

.filter-input {
    background-color: #346799;
    color: white;
    border: 0;
}

.filter-input::placeholder {
    color: white;
}

#date-popover {
    position: fixed;
    top: 0 !important;
    width: 305px;
    height: 315px;
    padding-top: 15px;
    background-color: #346799;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.15);
    border: solid 0.9px #346799;
}

.filter-date-header {
    color: #8eebf3;
}

.filter-date-col, .filter-date-header {
    width: 35px !important;
    height: 40px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.filter-date-cell {
    height: 35px;
    text-align: center;
    font-size: 12px;
    line-height: 270%;
    color: white;
}

.filter-date-cell .cell-value {
    width: 100%;
    height: 100%;
}

.filter-date-cell .cell-value.selected {
    border-radius: 50%;
    background-color: #38a9d3;
}

.filter-date-cell.selected {
    background-color: rgba(38, 169, 221, 0.5);
}

.filter-date-cell.selected-left {
    background-color: rgba(38, 169, 221, 0.5);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.filter-date-cell.selected-right {
    background-color: rgba(38, 169, 221, 0.5);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.filter-date-cell.selected-only {
    background-color: rgba(38, 169, 221, 0.5);
    border-radius: 50%;
}

.filter-date-cell .diferent-month {
    color: rgba(142, 235, 243, 0.25)
}

.filter-date-cell .current-day {
    font-weight: 800;
}

.filter-selector-back, .filter-selector-next {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-date-header, .filter-date-cell.diferent-month {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-date-cell {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Establishment Cards
 */
.row-establishments {
    margin-top: 27px;
    position: relative;
}

.row-establishments > div:not(:nth-child(-n+2)) {
    margin-top: 27px;
}

.card-establishment {
    height: 20rem;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
}

.card-establishment > div.card-header {
    background-color: #a5dbef;
    border: none;
}

.card-establishment > div.card-header > i {
    font-size: 20px;
    color: #fff;
    line-height: 25px;
}

.card-establishment > div.card-header > h5.card-title {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}

.card-establishment > div.card-header > .card-subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #346799;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.card-establishment > div.card-header > .card-subtitle:focus {
    border-bottom: solid thin #346799;
    margin-bottom: 3px;
}

.card-establishment > div.card-body > div.row > div.col:first-child {
    border-right: 1px solid rgba(0,0,0,.125);
}

.card-establishment > div.card-body > div.row > div.col > div.card-row-header,
.card-establishment > div.card-body > div.row > div.col > div.card-row-container {
    margin-top: 10px;
}

.card-establishment > div.card-body > div.row > div.col > div.card-row-header > div,
.card-establishment > div.card-body > div.row > div.col > div.card-row-container > div.card-row-header >  div {
    color: #979797;
    font-size: 12px;
}

.card-establishment > div.card-body > div.row > div.col > div.card-row-body > div,
.card-establishment > div.card-body > div.row > div.col > div.card-row-container > div.card-row-body >  div{
    color: #346799;
    font-size: 16px;
    font-weight: 600;
}

.card-establishment > div.card-footer {
    background-color: transparent;
    border-color: transparent;
}

.badge-valid {
    color: #8cd3aa;
    border: thin solid;
}

.badge-invalid {
    color: #e58282;
    border: thin solid;
}

.badge-unknown {
    color: #565656;
    border: thin solid;
}

.supervisor-value {
    color: #979797;
    font-size: 10px;
    margin-top: 8px;
}

.gpo-supervisor-card {
    margin-bottom: 8px;
}

.gpo-supervisor-card:hover {
    cursor: pointer;
    background-color: #f1f0f0;
}

.gpo-supervisor-selected {
    margin-bottom: 8px;
    cursor: pointer;
    background-color: #f1f0f0;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.20);
}

/**
 * Terminal Cards
 */
.detail-card-header:hover {
    cursor: pointer;
}

.row-terminals {
    margin-top: 27px;
    position: relative;
}

.row-terminals > div:not(:nth-child(-n+4)) {
    margin-top: 27px;
}

.card-terminal {
    height: 25rem;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
}

.card-terminal > div.card-header {
    background-color: #a5dbef;
    border: none;
}

.card-terminal > div.card-header > i {
    font-size: 20px;
    color: #fff;
    line-height: 25px;
}

.card-terminal > div.card-header > h5.card-title {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}

.card-terminal > div.card-header > .card-subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #346799;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.card-terminal > div.card-header > .card-subtitle:focus {
    border-bottom: solid thin #346799;
    margin-bottom: 3px;
}

.card-subtitle-edit {
    line-height: 12px;
    margin-left: 5px;
}

input.card-subtitle:hover + .card-subtitle-edit:after {
    font-family: 'gpo';
    font-size: 12px;
    content: '\45';
    color: #38a9d3;
    margin-bottom: 0;
}

input.card-subtitle:focus + .card-subtitle-edit:after {
    font-family: 'gpo';
    font-size: 12px;
    content: '\45';
    color: #346799;
    margin-bottom: 0;
}

textarea.card-subtitle:hover + .card-subtitle-edit:after {
    font-family: 'gpo';
    font-size: 12px;
    content: '\45';
    color: #38a9d3;
    margin-bottom: 0;
}

textarea.card-subtitle:focus + .card-subtitle-edit:after {
    font-family: 'gpo';
    font-size: 12px;
    content: '\45';
    color: #346799;
    margin-bottom: 0;
}

input[type=text].card-subtitle::placeholder {
    font-weight: normal;
    font-style: italic;
    color: #fff;
}

.terminal.closed > .card-terminal > div.card-header {
    background-color: #d4d1d1;
}

.terminal.closed > .card-terminal > div.card-header > .card-subtitle:focus {
    border-bottom: solid thin #979797;
}

.terminal.disabled > .card-terminal > div.card-header {
    background: #d4d1d1;
}

.terminal.disabled > .card-terminal > div.card-header > .badge-inactive {
    display: inline;
    padding: .1em .4em;
    font-size: 10px;
    background-color: #e58282;
}

.terminal.invalid > .card-terminal > div.card-header {
    background: none;
    border-bottom: solid thin #d4d1d1;
}

.terminal.invalid > .card-terminal > div.card-header > h5.card-title {
    color: #346799;
}

.terminal.invalid > .card-terminal > div.card-header > .card-terminal-status {
    color: #346799;
}

.card-terminal > div.card-body > div.card-row-header,
.card-terminal > div.card-body > div.card-row-container {
    margin-top: 10px;
}

.card-terminal > div.card-body > div.card-row-header > div,
.card-terminal > div.card-body > div.card-row-container > div.card-row-header >  div {
    color: #979797;
    font-size: 12px;
}

.card-terminal > div.card-body > div.card-row-body > div,
.card-terminal > div.card-body > div.card-row-container > div.card-row-body >  div{
    color: #346799;
    font-size: 16px;
    font-weight: 600;
}

.card-terminal > div.card-body > fieldset {
    margin-top: 20px;
}

.card-terminal > div.card-footer {
    background-color: transparent;
    border-color: transparent;
}

.card-terminal > div.card-footer > button {
    width: 45%;
}

.card-terminal-status {
    color: #ffffff;
    font-size: 14px;
    font-variant: all-small-caps;
    font-weight: bold;
    line-height: 0;
}

.card-terminal.muted {
    background-color: #f1f0f0;
    display: table;
    border: none;
}

.card-terminal.muted > div.card-body {
    vertical-align: middle;
    display: table-cell;
}

.card-terminal.muted > div.card-body > p.card-text {
    font-size: 14px;
    font-weight: 300;
    color: #346799;
}

/**
 * Custom checkbox for GPO
 */
.gpo-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 14px;
    cursor: pointer;
    color: #919191;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gpo-check.disabled, .gpo-check input:disabled {
    cursor: default !important;
    color: #346799;
}

.gpo-check.selected {
    color: #346799;
}

.gpo-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 18px;
}

.checkmark:after {
    content: "\33";
}

.gpo-check input:checked ~ .checkmark:after {
    content: "\32";
    color: #346799;
}

.gpo-check-editable {
    color: #346799;
    font-size: 14px;
    font-weight: bold;
}

.gpo-check-editable:hover:after {
    font-family: 'gpo';
    font-size: 12px;
    content: '\45';
    color: #38a9d3;
}

/**
 * Create fog effect on the screen
 */
.fog-to-top:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 2%, rgba(255, 255, 255, 0) 10%);
    pointer-events: none;
}

/**
 * Css for the hour spinners inside the automatic close/open of the terminal.
 */
.gpo-hour-spinner, .gpo-minute-spinner {
    width: 50px;
    height: 28px;
    font-size: 14px;
    color: #979797;
    text-align: center;
    border: thin solid #346799;
    border-radius: 5px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.07);
}

/**
Merchant Detail
*/

.merchant-input {
    width: 200px;
    background-color: #346799;
    color: white;
    border: 0;
}

.merchant-input::placeholder {
    color: white;
}

.oval {
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.input-grp {
    border-color: white;
    border-bottom: 1px solid;
}

.arrow.arrow-bottom::after {
    border-bottom-color: #346799;
}

.grey-scale {
    filter: grayscale(100%);
}

/*
form edit animation
*/
.input {
    border: 0;
    border-bottom: 1px solid transparent;
}

.edit {
    color: #38a9d3;
    display: none;
    font-size: 16px;
}

.text-edit:hover .edit {
    display: block;
}

.input:focus + .edit {
    display: block;
    color: #346799;
}

.input:focus {
    border-bottom: 1px solid;
    border-color: #346799;
}

/*
DASHBOARD
 */

/**
 * Account management fields
 */
#email-label:before {
    content: "\4e";
    font-family: 'gpo';
    font-size: 8px;
    position: absolute;
    color: #346799;
    margin: 14px 4px;
}

#merchantId-label:before {
    content: "\50";
    font-family: 'gpo';
    font-size: 12px;
    position: absolute;
    color: #346799;
    margin: 10px 4px;
}

#establishmentId-label:before {
    content: "\f015";
    font-family: 'gpo';
    font-size: 16px;
    position: absolute;
    color: #346799;
    margin: 8px 4px;
}

#email {
    max-width: 300px;
}

#email, #merchantId, #establishmentId {
    padding-left: 30px;
}

#email:valid, #merchantId:valid, #establishmentId:valid {
    opacity: 1;
    font-style: normal;
}

/**
 * Custom css for the table in merchants list
 */
table.table-merchants > thead > tr {
    border-radius: 3px;
    width: 99.4%;
    margin-left: 2px;
}

table.table-merchants > tbody > tr {
    width: 99%;
    line-height: 12px;
    margin: 2px 2px 5px 4px;
}

table.table-merchants > thead > tr, table.table-merchants > tbody > tr {
    display: table;
    table-layout: fixed;
}

table.table-merchants > thead {
    line-height: 6px;
}

table.table-merchants > tbody {
    display: block;
    position: relative;
}

.dashboard-card {
    background-image: linear-gradient(9deg, #346799, #6694c1);
    border: 0;
}
