.navbar-custom {
    background-image: linear-gradient(188deg,#8eebf3,#38a9d3);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.12);

    .nav-link-custom {
        margin: 8px 5px 8px 5px;
        font-size: 10px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: 0.36px;
        color: white;
        margin: 0px;
    }
}

.user-logo {
    width: 50px;
    height: 50px;
    padding: 7px 6px 6px 7px;
}

.current-date {
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    letter-spacing: 0.29px;
    text-align: right;
    color: white;
}

.merchant-name {
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.36px;
    text-align: right;
    color: #346799
}

.merchant-mail {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.36px;
    text-align: right;
    color: #346799
}

//PopOver
.popover{
    max-width: none !important;
}

.popover-navbar {
    border-radius: 5px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.15);
    background-color: #346799 !important;
    margin: 0px !important;
    
    .popover-arrow{
        z-index: 99;
        transform: translate(130px, -7px) !important;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #346799;
    }    
}
.popover-body-navbar {
    padding: 21px 0px 9px 0px !important;
}

.popover-item-navbar {
    width: 274px;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    padding: 6px 21px;
    cursor: pointer;

    &:hover {
        padding: 6px 21px;
        background-color: white;
        color: #346799;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.popover-msg-body {
    width: 338px;
    padding: 21px 36px 9px 36px;
}

.popover-primary-msg {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #e58282;
}

.popover-secondary-msg {
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #f1f0f0;
}