//Tooltip
.tooltip-cutom {
    padding: 16.7px 7px 10.3px 6px;
    border-radius: 5px;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.15);
    background-color: #979797;
    margin-top: 10px !important;
 
    .tooltip-inner {
       background-color: #979797;
       font-size: 8px;
       font-weight: normal;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #f1f0f0;
    }
 
    .tooltip-arrow {
       z-index: 99;
       transform: translate(92px, -7px) !important;
       border-left: 7px solid transparent;
       border-right: 7px solid transparent;
       border-bottom: 7px solid #979797;;
       top: 1px;
    }
}